.po_items_ho {
    column-width: 15em;
    -moz-column-width: 15em;
    -webkit-column-width: 15em;
    column-gap: 4rem;
    -moz-column-gap: 4rem;
    -webkit-column-gap: 4rem;
}

.po_item {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0.5rem auto;
    position: relative;
    background: var(--secondary-color);
    padding: 6px;
    border: 1px solid var(--secondary-color);
    transition: 0.3s ease;
    font-size: 0;
    min-height: 300px;
    overflow: hidden; /* Ensure content doesn't overflow */
}

.po_item img {
    max-width: 100%;
    height: auto; /* Ensures the aspect ratio is preserved */
    transition: transform 0.3s ease-in-out;
}

.po_item:hover img {
    transform: scale(1.05); /* Slight zoom on hover */
}

.po_item .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7); /* Dark overlay */
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: white; /* Text color on overlay */
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding doesn’t overflow */
}

.po_item:hover .content {
    opacity: 1;
}

.po_item:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

.po_item .content a {
    background: var(--bg-color);
    border: solid 1px var(--text-color);
    padding: 8px 16px;
    text-align: center;
    font-size: 1rem;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.po_item .content a:hover {
    background: var(--text-color);
    text-decoration: none;
}
